:root {
  --mint: #9ad2cf;
  --off-white: #F5F5F5;
  --black: 0, 0, 0;
  --blue: 93, 188, 210;
  --yellow: 235, 207, 121;
  --pink: 253, 204, 180;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

html, body {
  background-color: var(--off-white);
  margin: 0;
  height: 100%;
}

p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

h3 {
  font-family: 'Cabin Sketch', serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0.8rem 0;
}

section {
  background-color: var(--off-white);
  margin: auto;
  width: 750px;
  padding: 20px 40px;
  left: 0;
  right: 0;
  box-sizing: content-box;
}

section h3 {
  border-bottom: 1px solid var(--mint);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  font-family: 'Cabin Sketch', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
