
.main-app {
  background-color: var(--off-white);
  color: var(--black);
}

.hero-image {
  margin: 0;
  background: url("../images/claudio-schwarz-purzlbaum-k39RGHmLoV8-unsplash\ \(1\).jpg");
  width: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-image-credit {
  opacity: 0.3;
}

.hero-image-credit:hover {
  opacity: 1;
}

.images-list {
  display: flex;
  overflow: scroll;
}

.image img {
  max-width: 400px;
}

.image figure {
  margin: 0 15px;
  position: relative;
}

.image figure:hover .caption {
  display: flex;
  text-align: center;
}

.image .caption {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(var(--yellow), 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.work-display {
  position: relative;
}

.work-display:hover .scroll-indicator {
  display: block;
}

.scroll-indicator {
  display: none;
  position: absolute;
  top: 50%;
  margin: 0;
  right: -25px;
  color: rgba(var(--black),0.5);
}


.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact h3 {
  border: none;
}

.contact form {
  width: 850px;
  padding: 50px;
  background: rgba(var(--blue), 0.3);
  box-sizing: border-box;
}

.contact form abbr {
  color: rgba(var(--pink));
  text-decoration: none;
}

.contact form label {
  font-weight: 400;
}

.contact form input,
.contact form textarea {
  padding: 5px;
  width: 100%;
}

@media (max-width: 768px;) {
  .images {
    column-width: 200px;
  }
}

@media (max-width: 425px) {
  .images {
    display: block
  }
}
